<div class="content">
  <form method="post" action="/identify" id="sign-on">
    Enter name: <input name="name" id="name" value="" type="text" />
    and room: <input name="room" id="room" value="#jschat" type="text" />
    <input type="submit" value="Go" id="sign-on-submit" />
  </form>
</div>
