<div class="content">
  <h2>About</h2>
  <p>JsChat is an <em>open source</em> chat system that uses a simple protocol based on <acronym title="JavaScript Object Notation">JSON</acronym>.</p>
  <p>To download the code and an irssi-like <em>console client</em>, visit <a href="http://github.com/alexyoung/jschat/">GitHub</a>.</p>
  <p>Read more on the <a href="http://blog.jschat.org">JsChat Blog</a>.</p>
  <h2>Try JsChat Now</h2>
  <div id="feedback" class="error" style="display: none"></div>
  <%= erb :form, :layout => false %>
  <% if JsChat::Auth::Twitter.loaded? %>
    <%= erb JsChat::Auth::Twitter.template, :layout => false %>
  <% end %>
  <h2>Features</h2>
  <ul>
    <li>Simple protocol that makes it easy to implement clients and bots</li>
    <li>Console client designed to look and feel like IRC clients</li>
    <li>Web client auto links and displays images/YouTube videos inline</li>
    <li>Protocol designed to be close to executable code, so creating clients and bots is easy</li>
    <li>Optional mongodb logging</li>
    <li>Optional Twitter authentication</li>
  </ul>
</div>
<div class="footer">
  An open source project by <a href="http://helicoid.net">Helicoid</a>
</div>
