<h3>Login with Twitter</h3>

<p>If you login with Twitter, JsChat will save your rooms and keep your presence online if you close your browser, until you click <strong>Quit</strong>.</p>

<p><a href="/twitter">Login with Twitter</a></p>
