<h2>Login with Twitter</h2>

<p>JsChat will save your rooms and keep your presence online until you click <strong>Quit</strong>.</p>
<p>This will persist even if you login on another computer.</p>

<form method="get" action="/twitter"><input type="submit" value="Login with Twitter" /></form>
