<h2>Login with Twitter</h2>

<p>If you login with Twitter, JsChat will save your rooms and keep your presence online until you click <strong>Quit</strong>.</p>

<p><a href="/twitter">Login with Twitter</a></p>
