body { margin: 0 auto; padding: 0; font-family: 'Lucida Grande', arial, helvetica, sans-serif; color: #111; text-align: center; }
html, body { background: #f0f0f0; }

h1, h2, h3, h4 { margin: 0; padding: 0; }

h1 { text-align: left; margin-left: 20px }

.header { position: absolute; top: 0; height: 45px; left: 0; width: 100%; z-index: 10; background-color: #ffc }

.page { margin-top: 45px }

#messages { width: 500px; height: 300px; margin: 0 20px 10px 20px; padding: 0; overflow: auto; background-color: #fff; float: left; text-align: left; display: inline; }
#messages { list-style-type: none; overflow: auto }
#messages li { padding: 0.25em 0; border-bottom: 1px solid #f0f0f0; float: left; width: 100% }
#messages .user { width: 6em; text-align: right; font-weight: bold; display: block; float: left }
#messages .message { display: block; float: left; padding: 0 0 0 10px }

#input { clear: both; text-align: left; margin: 0 0 0 20px; padding: 0; }
form { margin: 0; padding: 0; }
#message { width: 100% }
#message:focus { background-color: #ffc }

#info { text-align: left; margin: 0 0 0 20px }

ul#names { margin: 0; padding: 0; list-style-type: none } 
ul#names li { margin: 0; padding: 0.25em 0; } 

.footer { float: right }
